* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #171717;
    --hover-color: white;
    --footer-hover-color: #E8B885;
}


body {
    background-color: var(--background-color);
    font-family: 'Proxima Nova', sans-serif;
    line-height: 1.5;
}

button {
    font: inherit;
}

p {
    font-size: 18px;
    letter-spacing: .03em;
    padding: 10px;
}

header {
    display: grid;
    transition: height 0.3s ease;
}

header.small {
    height: 50px;
}


nav .logo {
    width: 200px;
    padding: 20px;
}

nav img {
    display: block;
    max-width: 100%;
}

.hero {
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

@media (min-width: 800px) {
    .hero {
        grid-area: 1 / 1 / -1 / -1;
    }

    nav {
        grid-area: 1 / 1 / 2 / -1;
        /* You must explicitly set this, otherwise it will move below .hero */
        /* DO NOT CHANGE THE INDEX, OTHERWISE .content WILL NOT WORK. I HAVE NO CLUE WHY */
    }
}

/* Dropdown styling */

button {
    background-color: rgba(0,0,0,0.0);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;

}

.dropdown {
    position: relative;
    background-color: rgba(0,0,0,0);
    float: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.dropdown:hover {
    background-color: rgba(0,0,0,0.5);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 88px;
    overflow: auto;
}



.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 24px;
}

.dropdown-content a:nth-child(1):hover {
    background: linear-gradient(to right, #D851AE, #E8B885, #EDEB66);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:nth-child(2):hover {
    background: linear-gradient(to right, #114972, #69C9FF, #FFD76F);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:nth-child(3):hover {
    background: linear-gradient(to right, #1C609E, #4FA495, #FF8170);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:nth-child(4):hover {
    background: linear-gradient(to right, #7951A0, #C171FF, #FA6A4B);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:nth-child(5):hover {
    background: linear-gradient(to right, #ffffff , #275366, #182E42);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:nth-child(6):hover {
    background: linear-gradient(to right, #FFFFFF , #275366, #182E42);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}






.dropbtn {
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    float: right;
}

.dropbtn:hover, .dropbtn:focus {
    -webkit-text-stroke: white 1px;
}

.show {
    display: block !important;
}

/* End of dropdown styling */

.indexcontent {
    text-align: center;
    /* filter: alpha(opacity=100);
    display: none; */
}

.indexcontent h1{
    font-size: 9rem;
    color: #fff;
    font-weight: bold;
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;
}

.indexcontent h1:hover {
    -webkit-text-stroke: white 2px;
    text-stroke: 2px white;
    color: transparent;

}

.indexcontent h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: -30px;
    padding-bottom: 1rem;
    color: #fff;
}

.indexcontent a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.indexcontent a:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}


.content {
    text-align: center;
}

.content h1{
    font-size: 9rem;
    color: #fff;
    font-weight: bold;
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;
}

.content h1:hover {
    -webkit-text-stroke: white 2px;
    text-stroke: 2px white;
    color: transparent;

}

.content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: -30px;
    padding-bottom: 1rem;
    color: #fff;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.content a:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.artcolor {
    background: linear-gradient(to right, #D851AE, #E8B885, #EDEB66);
    background-size: 300% 300%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.filmcolor {
    background: linear-gradient(to right, #114972, #69C9FF, #FFD76F);
    background-size: 300% 300%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.multimediacolor {
    background: linear-gradient(to right, #1C609E, #4FA495, #FF8170);
    background-size: 300% 300%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.musiccolor {
    background: linear-gradient(to right, #7951A0, #C171FF, #FA6A4B);
    background-size: 300% 300%;
    animation: rainbow 2s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.back-video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.intro {
    background-color: var(--background-color);
    color: white;
    padding: 100px;
} 

h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 600;
    padding: 30px;
}

.intro p {
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    gap: 3rem;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.categories h2 {
    background-size: cover;
    background-position: center center;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.35);
    transition: 0.5s ease ease-in-out;
}


.grid-stack{
    display: grid;
    grid-template-areas: "stack";
}

.grid-stack > * {
    grid-area: stack;
    place-self: center;
}

.grid-stack > video {
    z-index: -1;
}

.grid-stack h2 {
    z-index: 1;
}

.grid-stack h3 {
    z-index: 1;
}

.grid-stack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
    transition: filter 0.5s ease;
}


.categories img:hover {
    filter: brightness(0.2);
}


a{
    text-decoration: none;
}

footer {
    background-image: linear-gradient(135deg, #275366, #182E42);
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

footer h5 {
    font-size: 2rem;
    padding-bottom: 30px;
}

footer p {
    padding-top: 80px;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: var(--footer-hover-color);
}

@media (max-width: 900px) {

    .content h1 {
        font-size: 4.7rem;
    }

    .content h2 {
        font-size: 1.7rem;
    }

    .content a{
        font-size: 15px;
        border: 2px solid #fff;
        padding: 7px 25px;
        border-radius: 50px;
        margin-top: 0;
    }

    .categories {
        display: flex;
        flex-direction: column;
    }

    .intro, .categories, footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro h1 {
        font-size: 2rem;
    }
}

/* This is for the Contact Us Page */

.contact-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 5rem;
    gap: 3rem;
    margin: 0 auto;
}

/* .contact-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
} */

.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 2px solid white;
    border-image: linear-gradient(to bottom, #FA6A4B, #AE87FF, #0AEBC2) 1;
    padding-right: 2rem;
}

.left h1 {
    font-size: 4rem;
    text-align: left;
    padding: 0;
}

.left p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: white;
}

.left a:link {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.left a:visited {
    color: white;
}

.left a:hover {
    color: var(--footer-hover-color);
}

.right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.right h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: normal;
}

.right p {
    font-size: 1.3rem;
    color: white;
    padding-left: 0;
}

.right a:link {
    text-decoration: none;
    color: white;
}

.right a:visited {
    color: white;
}

.right a:hover {
    color: var(--footer-hover-color);
}

/* This is for the Category pages */

.tips h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.artists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    padding: 80px;
    gap: 2rem;
}

.artists h3 {
    text-align: center;
    place-content: end;
    padding: 1rem;
    font-size: 1.5rem;
}

b {
    text-transform: uppercase;
}

.jamie {
    aspect-ratio: 4 / 5;
    background-image: url("assets/jamie.jpg");
    background-size: cover;
    background-position: center;
}

.layla {
    aspect-ratio: 4 / 5;
    background-image: url("assets/layla.jpg");
    background-size: cover;
    background-position: center;
}

.lilyana {
    aspect-ratio: 4 / 5;
    background-image: url("assets/lilyana_corrected.png");
    background-size: cover;
    background-position: center;
}

.tenchi {
    aspect-ratio: 4 / 5;
    background-image: url("assets/tenchi.jpg");
    background-size: cover;
    background-position: center;
}

.reed {
    aspect-ratio: 4 / 5;
    background-image: url("assets/reed.jpg");
    background-size: cover;
    background-position: center;
}

.josh {
    aspect-ratio: 4 / 5;
    background-image: url("assets/josh.jpg");
    background-size: cover;
    background-position: center;
}

.ethan {
    aspect-ratio: 4 / 5;
    background-image: url("assets/ethan.jpg");
    background-size: cover;
    background-position: center;
}

.katie {
    aspect-ratio: 4 / 5;
    background-image: url("assets/katie.jpg");
    background-size: cover;
    background-position: center;
} 

.specifics {
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: white;
}

.details {
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 80px;
    margin-left: 2rem;
}

.artdetails {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #D851AE, #E8B885, #EDEB66) 1;
}

.filmdetails {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #114972, #69C9FF, #FFD76F) 1;
}

.multdetails {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #1C609E, #4FA495, #FF8170) 1;
}

.musicdetails {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #7951A0, #C171FF, #FA6A4B) 1;
}

.details h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: right;
}

.details p {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.closeup-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.closeup-images img {
    width: 30%;
}

.art-tips {
    background-image: url("assets/art-tip.png");
    background-size: cover;
    align-content: center;
}

.film-tips {
    background-image: url("assets/film-tip.png");
    background-size: cover;
    align-content: center;
}

.mult-tips {
    background-image: url("assets/mult-tip.png");
    background-size: cover;
    align-content: center;
}

.music-tips {
    background-image: url("assets/music-tip.png");
    background-size: cover;
    align-content: center;
}

.tips {
    grid-column: 1 / 1 / 2 / 2;
    padding-right: 80px;
    padding-left: 80px;
}

.tips h3 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 4rem;
}

.tips h2 {
    text-transform: uppercase;
}

.tips h3, p {
    padding-bottom: 1rem;
}

.tips p {
    font-size: 1.3rem;
    line-height: 1.8;
}

.name {
    font-style: italic;
    text-align: right;
    padding-top: 2.5rem;
}

.resources {
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.resources h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
}

.externalresources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    text-align: center;
    gap: 3rem;
    text-align: center;
}

.externalresources h3 {
    background-size: cover;
    background-position: center center;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.35);
    transition: filter 0.5s ease-in-out;
}

.externalresources img:hover {
    filter: brightness(0.2);
}


@media screen and (max-width: 900px) {

    .dropdown-content a{
        font-size: 15px;
    }

    .externalresources {
        gap: 2rem;
    }

    .artists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .artists h3 {
        flex: 1 1 20ch;
    }

    .specifics {
        display: flex;
        flex-direction: column;
    }

    .artdetails, .filmdetails, .multdetails, .musicdetails {
        border-bottom: 0;
        margin-left: 40px;
        margin-right: 40px;
    }

    .resources h2 {
        font-size: 2rem;
        text-align:center;
    }

    .externalresources h3 {
        font-size: 1.5rem;
    }


    .details h2 {
        text-align: center;
    }

    .tips {
        text-align: center;
    }


    .wrapper {
        display: flex;
        flex-direction: column;
        color: white;
        border-top: 2px solid;
        margin-left: 80px;
        margin-right: 80px;
        border-image: linear-gradient(to right, #FA6A4B, #AE87FF, #0AEBC2) 1;
        padding-top: 30px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .box img {
        grid-row: 1;
        grid-column: 1;
        margin-left:auto;
        margin-right:auto;
    }
    .box p {
        grid-row: 2;
        grid-column: 1;
    }
    
    
    .bios h3 {
       font-size: 2rem;
    }
    
    
    .bios h4 {
       font-size: 1.5rem;
       font-weight: 500;
    }

    .contact-container {
        padding: none;
    }

    .left {
        grid-column: 1/3;
        grid-row: 1;
        border-bottom: 2px solid white;
        border-right: none;
        padding: 0;
        border-image: linear-gradient(to right, #FA6A4B, #AE87FF, #0AEBC2) 1;

    }

    .left h1 {
        text-align: center;
        font-size: 2.5rem;
    }


    .left p {
        text-align: center;
        font-size: 1rem;
    }

    .right {
        grid-column: 1/3;
        grid-row: 2;
        padding: 0;
        text-align: center;
    }

    .right h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .right p {
        text-align: center;
        font-size: 1rem;
    }


     
}

@media screen and (max-width: 700px) {

    .dropdown-content a{
        font-size: 12px;
    }


    .closeup-images {
        display: flex;
        flex-direction: column;
    }

    .closeup-images img { 
        width: 100%;
    }

    .externalresources {
        display: flex;
        flex-direction: column;
    }

    .resources h2 {
        font-size: 2rem;
    }

    .externalresources h3 {
        font-size: 2rem;
    }

}

/* About Us Page Styling */
.head, .wrapper {
    color: white;
    margin-left: 80px;
    margin-right: 80px;
 }
 
 
 .head {
    text-align: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 80px;
 
 
 }
 
 
 .head h2 {
    font-size: 4rem;
 }
 
 
 .wrapper {
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #FA6A4B, #AE87FF, #0AEBC2) 1;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.7;
 }
 
 
 .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    align-content: center;
    gap: 3rem;
    text-align: center;
    
 }
 
 
 .box h3 {
    font-size: 2.3rem;
 }
 
 
 .box h4 {
    font-size: 1.5rem;
    font-weight: 500;
 }
 
 
 .box img {
    width: 60%;
    margin-left:auto;
    margin-right:auto;

 }
 
 
 .bios p {
    padding: 0;
 }
 
 